<!DOCTYPE html>
<html ng-app="listaTelefonica">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lista Telefonica | Learnning AngularJS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap LIB -->
  <link rel="stylesheet" type="text/css" media="screen" href="lib/bootstrap/bootstrap.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="lib/bootstrap/bootstrap-grid.css" />
  <!-- main Style -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/app.css" />
  <!-- Angular LIB -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-messages.js"></script>
  <script src="lib/angular/angular-locale_pt-br.js"></script>
  <!-- main APP script's -->
  <script src="js/app.js"></script>
  <script src="js/controllers/listaTelefonicaCtrl.js"></script>
</head>

<body ng-controller="listaTelefonicaController">
  <div class="jumbotron py-4">
    <h3>{{appTitulo}}</h3>
    <input type="text" class="form-control mt-4" ng-model="criterioBusca" placeholder="O que você procura...?" />
    <table ng-show="contatos.length > 0" class="table mt-3">
      <thead class="thead-light">
        <tr>
          <th></th>
          <th><a class="badge badge-light" ng-click="ordenarPor('nome')">Nome</a></th>
          <th><a class="badge badge-light" ng-click="ordenarPor('telefone')">Telefone</a></th>
          <th>Operadora</th>
          <th>Cor</th>
          <th>Data</th>
        </tr>
      </thead>
      <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter: {nome: criterioBusca} | orderBy:criterioOrdenacao:direcao">
        <td><input type="checkbox" ng-model="contato.selecionado"></td>
        <td>{{contato.nome}}</td>
        <td>{{contato.telefone}}</td>
        <td>{{contato.operadora.nome}}</td>
        <td>
          <div class="d-block my-0 mx-auto" style="width: 15px; height: 15px; border-radius: 50%;" ng-style="{background: contato.cor}"></div>
        </td>
        <td>{{contato.data | date: 'dd/MM/yyyy HH:mm'}}</td>
      </tr>
    </table>
    <form name="contatoForm">
      <input class="form-control mt-5 mb-2" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" />
      <div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
        <div ng-message="required" class="alert alert-danger"> Por favor, preencha o NOME! </div>
      </div>
      <input class="form-control mb-2" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" />
      <div ng-show="contatoForm.telefone.$dirty" ng-messages="contatoForm.telefone.$error">
          <div ng-message="required" class="alert alert-danger"> Por favor, preencha o TELEFONE! </div>
        </div>
      <select class="form-control mb-3" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
        <option value="">Selecione uma operadora...</option>
      </select>
    </form>
    <button class="btn btn-block btn-primary" ng-click="addContato(contato)" ng-disabled="contatoForm.$invalid">
      Adicionar Contato
    </button>
    <button class="btn btn-block btn-danger" ng-show="isContatoSelecionado(contatos)" ng-click="delContatos(contatos)">
      Apagar Contato
    </button>
  </div>
  <div ng-include="'view/footer.html'" class="mb-2"></div>
</body>

</html>