.jumbotron {
  width: 800px;
  text-align: center;
  margin: 20px auto;
}

.table {
  margin-top: 30px;
  background: white;
}

.selecionado {
  background: #fafad2;
}

footer {
  text-align: center;
}

.badge {
  cursor: pointer;
}